.notifications {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  position: absolute;
  top: 0;
  right: 0;
  background-color: white;
  box-shadow: 0 0 20px 0 gray;
  width: 20%;
  overflow-y: auto;
  height: 110%;
}

.notifications-title {
  display: flex;
  justify-content: center;
  font-size: 4rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  height: min-content;
  width: 100%;
  text-transform: uppercase;
  color: #f48982;
}

.notification {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 250px;
  background-color: #f2efee;

  p {
    color: #615551;
    margin-left: 1.5rem;
    font-size: 1.8rem;
    line-height: 1.5;
    font-weight: 600;
  }
}

@media (max-width: 2015px) {
  .notifications {
    display: none;
  }
}
